boto==2.47.0
Django==1.11.2
django-bootstrap-static==3.3.7.1
django-dbbackup==3.2.0
django-filter==1.0.4
django-storages==1.5.2
djangorestframework==3.6.3
djangorestframework-csv==1.4.1
djangorestframework-gis==0.11.2
django-imagekit==3.3
django-registration-redux==1.4
django-bootstrap3
psycopg2==2.7.3.2
requests==2.18.4
s3==3.0.0
postgresql==9.4
postgis==2.1
proj4==4.8.0
geos==3.4.2
gdal==1.11.0
Pillow==3.2.0